<div id="container">
  <div id="banner">
    <ul class="bjqs">
      <li><%= image_tag "banner3.jpg" %></li>
      <li><%= image_tag "banner3.jpg" %></li>
      <li><%= image_tag "banner3.jpg" %></li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="content-top">
      <div class="grid">
          <div class="tariff">
                <div class="text">
                <h2>24 hours Reception</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p
                <a href="tariff.html"><p><span class="yellow">Read More</span></p></a>  
              </div>
          <div class="clear"></div>
          </div>
      </div>
      <div class="grid1">
            <div class="tariff">
                <div class="text">
                <h2>Breakfast</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                <a href="tariff.html"><p><span class="yellow">Read More</span></p></a>  
              </div>
            <div class="clear"></div>
            </div>
      </div>
      <div class="grid2">
          <div class="tariff">
              <div class="text">
              <h2>Dinner</h2>
              <p>Dinner is to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
              <a href="tariff.html"><p><span class="yellow">Read More</span></p></a>  
            </div>
          <div class="clear"></div>
          </div>
      </div>
      <div class="clear"></div>
        </div>
     </div>
    </div>
   </div>
  </div>
  <div class="content-bottom">
  <div class="wrap">
    <div class="bottom-gallery">      
        <div class="bottom-image">
          <%= image_tag src="pic.jpg" %>
        </div>
        <div class="bottom-image">
          <%= image_tag src="pic4.jpg" %>
        </div>
        <div class="bottom-image">
          <%= image_tag src="pic10.jpg" %>
        </div>
        <div class="bottom-image1">
          <%= image_tag src="pic7.jpg" %>
        </div>
        <div class="clear"></div>
    </div>
   </div>
  </div>
  <div class="footer">
  <div class="wrap">
  <div class="footer-top">  
     <div class="sub-footer"> 
       <div class="footer-menu">       
        <h3>Footer Links </h3>
          <div class="footer-pic">      
              <div class="footer-img">
                <a href=""><%= image_tag src="pic22.jpg" %></a>
            </div>
            <div class="footer-img">
                <a href=""><%= image_tag src="pic23.jpg" %></a>
            </div>
            <div class="footer-img">
                <a href=""><%= image_tag src="pic25.jpg" %></a>
            </div>
            <div class="footer-img">
                <a href=""><%= image_tag src="pic24.jpg" %></a>
            </div>
            <div class="footer-img">
                <a href=""><%= image_tag src="pic26.jpg" %></a>
            </div>
            <div class="footer-img">
                <a href=""><%= image_tag src="pic27.jpg" %></a>
            </div>
            <div class="clear"></div>
             </div>
      </div> 
    </div>
    <div class="sub-footer1"> 
           <h2>Recent Blogs</h2>
           <p> It has survived not only five centuries, but also the leap into electronic. </p>
           <p> It has survived not only five centuries, but also the leap into electronic. </p>
           <p> It has survived not only five centuries, but also the leap into electronic. </p>
    </div>
    <div class="sub-footer1"> 
      <h2>Visit Us</h2>
          <ul>
              <li><a href="#">simply dummy text of the printing</a></li>
            <li><a href="#">simply dummy text of the printing</a></li>
            <li><a href="#">simply dummy text of the printing</a></li>
             <li><a href="#">simply dummy text of the printing</a></li>
            <li><a href="#">simply dummy text of the printing</a></li>
           </ul>
    </div>
           <div class="clear"></div>
    </div>    
   </div>
  </div>