<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
      <title>HotelBooking</title>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="header">
    <div class="login">
      <% if user_signed_in? %>
        <p class="white-link"> Welcome <%= current_user.email %></p>
        <p><%= link_to 'Sign Out', destroy_user_session_path, class: 'white-link', method: :delete %></p>
        <p><%= link_to 'My Bookings', bookings_path, class: 'white-link' %></p>
      <% else %>
        <p><%= link_to 'Log In', new_user_session_path, class: 'white-link' %></p>
      <% end %>
    </div>
    <div class="wrap">
      <div class="wrapper">
        <div class="logo">
          <a href="index.html"><%= image_tag "logo3.png" %></a>
        </div>
        <div class="menu">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="<%= enquiry_rooms_path %>">Reservations</a></li>
            <li><a href="/">Rooms</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
          <div class="clear"></div> 
        </div>
        <%= yield %>
        <div class="footer-bottom">
          <div class="wrap">  
            <div class="copy">
              <p>&copy; 2012 All rights Reserved | Design by <%= Hotel.name %></a></p>
            </div>
          </div>
        </div>
  </body>
</html>
